<ul class="menu1">
	
	
	<li><a href="{% url 'add_voter' %}">Add Voter</a></li>
	<li><a href="{% url 'view_voter' %}">Voter Details</a></li>
	<li><a href="{% url 'add_candidate' %}">Add Candidate</a></li>
	<li><a href="{% url 'view_candidate' %}">Candidate Details</a></li>
	<li><a href="{% url 'all_vote' %}">Polled Vote Details</a></li>
	<li><a href="{% url 'result' %}">Result</a></li>
	<li><a href="{% url 'admin_login' %}">Logout</a></li>

</ul>
<style>all_vote
.menu1 li
{
	list-style:none;
	font-size:18px;
}
.menu1 li a
{
	color:#fff;
	padding:15px;
	display:block;
}
.menu1 
{
	padding:0;
}
.menu1 li a:hover
{
	background:#000;
	text-decoration:none;
}
</style>